* {
	margin: 0;
	padding: 0;
}



body {
	background-color: white;
	font-family: "Raleway", sans-serif;
}

/*
################
               Anfang Navigationsleiste
################
*/

.nav {
	margin: 2%;
	text-align: center;
	text-transform: uppercase;
	font-size: 200%;
}

.nav ul {
	list-style-type: none;
}

.nav li {
	display: inline;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 1.25% 10%;
}

.nav a {
	text-decoration:none;
	color: Black;
	-webkit-transition: all 0.5s ease-out;
}

.nav a:hover {
	background-color: Black;
	color: white;
	-webkit-transition: all 0.1s;
}

/*
################
               Ende Navigationsleiste
################
*/

/*
################
               Anfang Head-Image
################
*/

#headimg {
	background-image: url("./placeholder.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
	width: 80%;
	padding: 10% 0;
	margin: 0 10%;
}

/*
################
               Ende Head-Image
################
*/

/*
################
               Anfang Überschrift
################
*/

.header {
	text-align: center;
	margin: 3% auto;
}

.header h1 {
	color: Black;
	font-size: 320%;
	font-weight: bold;
	text-transform: uppercase;
}

.header h2 {
	color: DarkGrey;
	font-size: 215%;
	font-style: italic;
	margin: 1%;
}

/*
################
               Ende Überschrift
################
*/

/*
################
               Anfang Haupttext
################
*/

.main-text {
	color: Grey;
	text-align: center;
	font-size: 125%;
	
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 25%;
	margin-right: 25%;
	
	line-height: 180%;
}

#address {
	color: Black;
	text-align: left;
	font-size: 125%;
	
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 25%;
	margin-right: 25%;
	
	line-height: 115%;
}

#disclaimer-header {
	
	text-align: center;
	color: Grey;
	font-style: italic;
	font-size: 155%;
	margin-top: 3.5%;
	margin-left: 25%;
	margin-right: 25%;
}

#disclaimer {
	margin-left: 25%;
	margin-right: 25%;
	
	line-height: 185%;
}

#disclaimer h2 {
	margin: 3% 0;
}

#disclaimer p {
	font-size: 110%;
}

#source {
	margin-top: 2%;
	margin-bottom: 4%;
}

#source a {
	color: Black;
}

/*
################
               Ende Haupttext
################
*/

/*
################
               Anfang Footer
################
*/

.footer p {
	display: inline;
}

#copyright {
	color: Black;
	font-size: 95%;
	font-weight: bold;
	float: left;
	
	width: 97%;

	padding: 1%;
	border-top: 3px solid LightGrey;
}

#contact {
	
	color: Black;
	font-size: 95%;
	font-weight: bold;
	float: right;
	
	padding: 1%;
}

#contact a {
	color: Black;
}

/*
################
               Ende Footer
################
*/

